body { margin:0; }
#category { margin-left: 2%; margin-right: 2%; font-size:1.5vw; font-weight: bold;}
#details { 
  position: absolute; 
  bottom: 0; margin-left: 2%; 
  margin-right: 2%; font-size:1.5vw;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:0.7vw;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 8px;  
}
.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto; }
.icon-bar a {
  float: left;
  width: 15%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size:1.9vw; }

.icon-bar a:hover { background-color: #000; }
.active { background-color: #04AA6D; }
#bool { color: red; }
#bool2 { color: green; }
#shrink {font-size:1vw;}
a { color: blue; }
p.small { line-height: 1; }
p { margin: 0; padding: 0; font-size:1vw; }
h1 { font-size:1.5vw; color: white; text-align: center; font-weight: normal; margin: 1% auto auto auto; }

  code { 
  background-color: #eee;
  font-size:0.8vw;
  margin-left: 2%;
  margin-right: 2%; } 
  pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  white-space: normal;
  align-content: left;  }
  #parentDiv { width: 100%; height: 70%; }
  #div1 { width: 49%; float:left; }
  #myDIV  { display:none; width: 49%; float:right; }
  #myDIV2 { display:none; width: 49%; float:right; }
  #myDIV3 { display:none; width: 49%; float:right; } 
  #myDIV4 { display:none; width: 49%; float:right; }  
  #myDIV5 { display:none; width: 49%; float:right; }
  #myDIV6 { display:none; width: 49%; float:right; }
  #myDIV7 { display:none; width: 49%; float:right; }  
  #myDIV8 { display:none; width: 49%; float:right; }  
  #macro1 {
  background-color: #eee;
  border: 1px solid #999;
  width: 45%;
  display: block;
  padding: 20px;
  white-space: normal;
  float: right;  }


  .tooltip {
  position: relative;
  display: inline-block;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}